body {
    height: 200px;
    width: 400px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.weather-info {
    width: 100%;
    padding-left: 10vw;
}

#weatherIcon {
    width: 100px;
    height: 100px;
    visibility: hidden;
    position: absolute;
    right: 10%;;
    top: 40vh;
}

.header {
    background-color: rgba(50, 50, 50, 0.5);
    width: 105%;
    transform: translateX(-2.5%);
    height: 24vh;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-weight: 600;
}

.temp {
    background-color: black;
    width: 120%;
    height: 120vh;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

#loading {
    position: absolute;
    color: white;
    left: 30%;
    top: 30%;
}